
* {
	margin: 0;
	padding: 0;
}

a{
	outline: none;
	text-decoration: underline;
}

.wraper {
max-width: 960px;
margin: 0 auto;
}

.content_wraper {
margin: 0 30px;
}

.button {
display: block;
width:100%;
background-color: #008fd3; /*less*/
color: white;
width: 100%;
padding: 38px 0 32px 0px;
text-decoration: none;
}
.button p {
text-align: center;
}
.button p:after {
content: '@';
}
#header {
background-color: white;
min-height: 60px;
}
.logo {
	width: 78;
	height: 39px;
	margin: 10px;
	display: block;
	float: left;
	text-indent: -90000px;
	background: url("../img/layout/logo.png") no-repeat 0 0;
}

 .search {
    width: 300px; /* Ширина поля с кнопкой */
    border: 1px solid #000; /* Параметры рамки */
    min-height: 20px; /* Минимальная высота */
   }
   input[type="search"] {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 274px; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
   }
   input[type="submit"] {
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    border: none; /* Убираем рамку */
    background: url(img/) no-repeat 50% 50%; /* Параметры фона */
   }
   
   
#menu_search {
float: right;
}
.menu_right
{background-color: green;
width: 250px;
float:right;}

.menu_right div{
display:inline;
float:left;
}
@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }



#partners {
background: url('../img/layout/Partners_Mobile_background.jpg') -200px no-repeat;
padding: 45px;
}

.partners_title{
padding: 40px 0 15px 0;
}

.partners_slogan p{
display: inline-block;
background-color: black;
padding: 15px;
color: white;
margin-top: 5px;

}

.partners_description {
 background-color: rgba(255, 255, 255, 0.8);
 color: black;
 width: 194px;
 margin-top:15px;
 padding:  25px 35px 35px 25px;

 }


.conse {
padding: 45px 3% 30px 7px;
}

.qoutation {
background-color: #f4f4f4;
padding: 0 2.5%;
}
.qoutation p {
padding-left: 30px;
color: black;
opacity: 0.7;
font-style: italic;
}

.qoutation:before {
content: '"';
display:block;
color:white;

}

.qoutation:after {
content: '"';
display:block;
text-align: right;
color:white;
}


.bxslider_item {
padding: 74px;
margin: 0 auto;
}

.bxslider_item img {
margin: 0 auto;
}


.program_item {
margin: 0 20px 40px 20px;

}


.program_item_top {
background-color: white;
padding: 44px 70px 36px 40px;
}

.program_item_bottom {
 background-color: rgba(20, 22, 23, 0.8);
 color: white;
 padding: 50px 70px 47px 40px;

}

.ns {
width: 30%;
display: inline-block;
padding-left:3%
}
.ns:first-child {
padding-left:0;
}
#partnering {
background-color: #f1f1f1;
}
.contacts {
padding-bottom: 50px;
}
.question {
height: 30px;
padding: 35px;
border-left: #f1ab00 27px solid;
}
.answer {
width: 367px;
padding-left: 78px;
}

.footer_contact {
margin-top: 15px;
border-top: 1px solid grey;
}

.footer_contact span{
display: inline-block;
padding: 45px 0;
text-align: center;
}

.phone {
border-right: 1px solid grey;
width: 50%;
}
.phone:before {
color: red;
content: '\25b2'
}
.email:before {
content: '@'
}

#footer {
background-color: #000000;
color: white;
padding:10px 0 30px 0;
}
#footer a {
display: block;
padding-bottom: 10px;
color: #00a1e4;
}

.footer_navigation li{
border-left: 1px solid white;
display: inline-block;
padding: 0 10px;
}

.footer_navigation li:first-child {
border-left:none;
padding-left: 0px;
}
/*mobile*/
@media (max-width: 640px) {
.mobile_hidden {
display: none;
}
#partners {
background: url('../img/layout/Partners_Mobile_background.jpg') no-repeat;}

#program {
background-image: url('../img/layout/Program_Mobile_background.jpg');
padding: 55px 0;
}

}

/*desktop*/
@media (min-width: 641px){
.footer_navigation, #footer a {
display: inline-block;}

#slider_top {
display: none;
}

#partners {
background: url('../img/layout/Partners_Desktop_background.png') no-repeat;}

.qoutation{
background-color: inherit;
max-width: 410px;
}

.qoutation, .conse {
width: 45%;
display:inline-block;
}

.bxslider li{

display: inline-block;
width: 33%;

}


#program {
background: url('../img/layout/Program_Desktop_background.png') no-repeat;
padding: 55px 0;
}
.program_item {
width:40%;
display: inline-block;
}
.program_item .button {
padding: 0;
position: relative;
float: right;
bottom: 17px;
left: 17px;
width: 215px;
height: 45px;

}
.contacts * {
display: inline-block;
float:left:}

#contacts_button {
width: 200px;}

#footer {
margin: 0 auto;}
}